@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font: 16px/28px 'Lato', sans-serif;
  color: #888888;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #666666;
  line-height: 36px;
  margin: 0 0 16px 0;
}

h2 {
  font-size: 48px;
}

p {
  line-height: 24px;
  margin: 0 0 12px;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  color: #0088df;
  text-decoration: none;
  line-height: 24px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-header {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-header .top-bar {
  background: rgba(0, 0, 0, 0.6);
  line-height: 38px;
  color: #ffffff;
  font-size: 14px;
}

.main-header .top-bar a {
  color: #ffffff;
}

.main-header .top-email-info {
  display: inline-block;
}

.main-header .top-donate-btn {
  background: #0088df;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 15px;
  border: 0px solid #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.main-header .top-phone-no {
  display: inline-block;
  margin-right: 12px;
}

.main-header .top-bar i {
  color: #0088df;
  margin-right: 5px;
  display: inline-block;
}

.blue-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #0088df;
  background: rgba(0, 136, 223, .35);
  margin-right: 6px;
  position: relative;
  top: 2px;
}

#btn, .btn {
  text-align: center;
  -webkit-transition: 0.3s 0.2s ease-out;
  -moz-transition: 0.3s 0.2s ease-out;
  -o-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}

.navbar-default {
  border: none;
  background: transparent;
  margin-bottom: 0;
  padding: 12px 0;
}

.navbar-collapse {
  border-top: none;
}

#slider_1 .item img {
  display: block;
  width: 100%;
  height: auto;
}

#slider_1 .slider-content {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  width: 100%;
}

.cta-section-3 {
  padding: 64px 0;
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #FFFFFF;
}

.cta-section-3 h2 {
  font-size: 36px;
  line-height: 42px;
  color: #222;
  font-weight: 300;
  margin: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.01em;
}

.cta-section-3 p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.004em;
  color: #999;
}

h2 + p {
  margin-top: 12px;
}

p {
  line-height: 24px;
  margin: 0 0 12px;
  padding: 0;
}

* + p {
  margin-top: 12px;
}

::-webkit-input-placeholder {
  color: #AAA;
  font-weight: 300;
}
::-moz-placeholder {
  color: #AAA;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #AAA;
  font-weight: 300;
}
:-moz-placeholder {
  color: #AAA;
  font-weight: 300;
}

.cta-section-3 input {
  display: block;
  margin: 0 auto;
  width: 90%;
  color: #222;
  background: #ffffff;
  line-height: 32px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 10px;
  text-indent: 10px;
  border: 1px solid #DDD;
}

.cta-section-3 input:hover,
.cta-section-3 input:focus {
  outline: none;
}

.cta-section-3 button {
  display: block;
  margin: 0 auto;
  width: 90%;
  color: #fff;
  background: #222;
  line-height: 32px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.cta-section-3 button:hover,
.cta-section-3 button:focus {
  background: #000;
  outline: none;
  color: #fff;
}

.navbar-brand {
  padding: 0 0 0 12px;
}
.navbar-brand img {
  height: 30px;
  margin: 10px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
  letter-spacing: 1px;
  font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #222;
}

.navbar-default .navbar-brand {
  color: #222;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 6px;
  font-weight: 400;
  font-style: normal;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #222;
  background-color: transparent;
  outline: none;
}

footer {
  color: #ffffff;
  margin-top: 0;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

.footer-contents {
  background: #292929;
  border-top: 1px solid #525252;
  padding: 28px 0 20px 0;
}

.footer-nav {
  float: right;
}

.footer-nav li {
  display: inline;
  list-style-type: none;
}

.map-widget {
  background-color: #f5f5f5;
}

.map-container {
  margin: 0 auto;
  padding-top: 15vh;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.map-container h1 {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-weight: 300;
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.map-container h1 b {
  font-weight: 500;
  white-space: nowrap;
}

.map-container h2 {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

.map-container h2 span, .map-container h2 a {
  font-weight: 400;
  color: #0388df;
}

.map-container h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

.map-container h3 b.number {
  font-weight: 400;
  color: #0388df;
}

.navbar-toggle {
  border: 0 solid transparent;
}

.navbar-default .navbar-toggle {
  border-color: #222;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #222;
}

.navbar-toggle:hover {
  background-color: transparent !important;
}

.form-message {
  color: #000;
  font-weight: 700;
}
.form-message.text-danger {
  color: #000;
}

.social-share {
  background-color: #222;
  text-align: center;
  height: 50px;
  margin: 0;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons li a {
  display: inline-block;
  color: #FFF;
  font-size: 24px;
  line-height: 50px;
  width: 40px;
  height: 50px;
}

ul.share-buttons li a i {
  line-height: 50px;
}

ul.share-buttons li a:hover {
  color: #0088df;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .navbar-default .navbar-brand {
    font-size: 18px !important;
    letter-spacing: 0 !important;
  }
}

@media (max-width: 440px) {
  .top-donation-btn-container {
    padding: 0;
    top: -1px;
    position: absolute;
    right: 0;
  }
  .main-header .top-donate-btn {
    padding: 8px 16px;
  }
  .top-bar a span {
    display: none;
  }
  .navbar-default {
    background: transparent;
    padding: 0;
  }
  .navbar-collapse {
    background-color: #f6f5f6;
    border-color: #f6f5f6;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .signup-form {
    margin-top: 40px;
  }

  .cta-section-3 .signup-text {
    padding: 0 30px;
    margin: 0 auto;
  }

  .cta-section-3 button, .cta-section-3 input {
    width: 90%;
  }

  .navbar-default .navbar-brand {
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

#container {
    height: calc(100vh - 410px);
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-contextbutton {
  display: none;
}
.highcharts-credits {
  opacity: 0;
}
.highcharts-root .highcharts-map-navigation {
  opacity: 0;
  transition: opacity 0.5s;
}
.highcharts-root:hover .highcharts-map-navigation {
  opacity: 0.5;
}
.highcharts-root:hover .highcharts-map-navigation:hover {
  opacity: 1;
}
.highcharts-root .highcharts-legend-item {
  opacity: 0;
  transition: opacity 0.5s;
}
.highcharts-root:hover .highcharts-legend-item {
  opacity: 1;
}
.signup-text a {
  color: #000000;
  font-weight: 300;
}
.signup-text a:hover {
  color: #0088df;
  text-decoration: none;
}
.inset-left {
  padding: 0 0 0 10px;
}
.inset-right {
  padding: 0 10px 0 0;
}
button.sign-up {
  font-weight: 300;
}
.signup-text p, .signup-text a, .signup-text li {
  font-size: 16px;
  line-height: 22px;
}
.signup-text b {
  text-transform: uppercase;
  color: #000;
}
.signup-text ul {
  list-style: circle;
  margin-left: 20px;
}
.signup-text li {
  font-weight: 300;
  list-style: circle;
  margin-bottom: 8px;
}
.signup-text h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  margin-top: 46px;
  margin-bottom: 40px;
}
.action-bar {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.action-bar .col-xs-6 {
  padding: 0 5px;
}
.help-button {
  margin: 0 auto;
  color: #fff;
  background: #0088df;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}
.help-button:focus, .help-button:hover, .help-button:active {
  color: #fff;
}
b.mb {
  margin-bottom: 20px;
  display: block;
  color: #0088df;
  font-weight: 400;
  font-size: 20px;
}

.action-list {
 margin-bottom: 40px;
}

.action-list b {
  text-transform: none;
  color: #000;
  font-weight: 400;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5000;
  display: none;
}

.modal-wrapper {
  width: 80%;
  max-width: 500px;
  background: #FFF;
  z-index: 5002;
  position: relative;
  margin: 0 auto;
  top: 12%;
  padding: 20px;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  overflow: hidden;
  z-index: 5001;
}

.close-modal {
  color: #CCC;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.close-modal:hover {
  color: #222;
}

.selection-group {
  padding: 0;
}

.selection-group .row {
  margin-right: -5px;
  margin-left: -5px;
}

.selection-group .col-sm-3,
.selection-group .col-sm-6,
.selection-group .col-sm-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.selection-group .donation-choice {
  background: #eee;
  color: #666;
  margin-bottom: 20px;
  transition: all 0.25s;
  border: 1px solid #CCC;
  color: #0088df;
}

.selection-group .donation-choice span {
  margin-left: 3px;
  color: #999;
  font-weight: 300;
}

.selection-group .donation-choice:hover,
.selection-group .donation-choice:focus {
  background: #888;
  border: 1px solid #888;
  color: #FFFFFF;
  outline: none;
}

.selection-group .donation-choice:hover span,
.selection-group .donation-choice:focus span {
  color: #111;
}

.selection-group .donation-choice.selected,
.selection-group .donation-choice.selected:hover,
.selection-group .donation-choice.selected:focus {
  background: #222;
  color: #96d6ff;
  outline: none;
  border: 1px solid #222;
}

.selection-group .donation-choice.selected span,
.selection-group .donation-choice.selected:hover span,
.selection-group .donation-choice.selected:focus span {
  color: #BBB;
}

#donation-text {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 0.5px;
}

#donation-text b {
  font-weight: 600;
  color: #0088df;
}

#amount {
  box-shadow: none;
}
#amount:focus, #amount:active {
  outline: none;
  box-shadow: none;
  border-color: #CCC;
}

.make-donation,
.make-donation:hover,
.make-donation:focus {
  background: #222;
  color: #FFF;
  outline: none;
  text-transform: uppercase;
}

h3.modal-title {
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

h3.modal-title a {
  font-style: italic;
}

h3.modal-title a:hover, h3.modal-title a:focus {
  text-decoration: none;
  color: #0088df;
}

.thank-you {
  background: url(../images/sendmail.gif) center center no-repeat;
  background-size: cover;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  margin-top: calc(50vh - 140px);
}

.thank-you h1 {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 45px;
  width: 100%;
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  animation-duration:1s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.thank-you div {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 50px;
  opacity:0;
  width: 100%;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  animation-duration:1s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

span.error-message {
  color: #CC0000;
  font-weight: 400;
}

span.success-message {
  color: #0388df;
  font-weight: 400;
}

.live-in-florida a {
  text-align: center;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  color: #AAA;
  font-size: 12px;
  padding-top: 8px;
  line-height: 14px;
}

.live-in-florida a:hover {
  text-decoration: none;
  color: #0388df;
}

.about-us p {
  text-align: left;
  padding: 14px;
  line-height: 28px;
}

.our-partners h3 {
  font-weight: 300;
  font-size: 22px;
  color: #000;
}

.our-partners a {
  padding: 20px;
  display: block;
}

.our-partners img {
  max-width: 100%;
  max-height: 100px;
}

.alt-row {
  background-color: #f5f5f5;
}

.status {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 25px 15px 25px;
}

.progress-bar {
  height: 6px;
  width: 100%;
  background-color: #ddd;
  position: relative;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.progress {
  height: 6px;
  width: 0%;
  background-color: #0388df;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s ease;
  border-radius: 0;
}

.stats-headers {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  color: #000;
  white-space: nowrap;
}

.stats-headers i {
  font-size: 18px;
  color: #AAA;
  font-style: normal;
}

.stats-subheaders {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  white-space: nowrap;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.our-partners {
  padding-bottom: 40px;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media (max-width: 768px) {
  .our-partners a {
    padding: 20px 0;
  }
  .cta-section-3 {
    padding: 20px 10px;
  }
  .top-donation-btn-container {
    padding: 0;
    top: -1px;
    position: absolute;
    right: 0;
  }
  .main-header .top-donate-btn {
    padding: 8px 16px;
  }
  .map-container {
    padding-top: 70px;
  }
  .map-container h1 {
    line-height: 22px;
    font-size: 18px;
  }
  .map-container h2 {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 14px;
  }
  .map-container h3 {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 14px;
  }
  .signup-text h2 {
    font-size: 30px;
  }
  .map-container h3 span {
    display: block;
  }
  #donation-text {
    padding: 10px 0;
  }
  .selection-group .donation-choice {
    margin-bottom: 10px;
  }
  .selection-group .col-sm-3,
  .selection-group .col-sm-6,
  .selection-group .col-sm-9 {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-brand img {
    height: 24px;
    margin: 12px 0;
  }
  .main-header {
    position: fixed;
    background-color: #f6f5f6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .action-list {
    margin-bottom: 20px;
  }
  .our-partners img {
    max-height: 60px;
  }
}

@media (max-width: 414px) {
  h3.modal-title {
    text-align: left;
    font-size: 14px;
    max-width: 90%;
  }

  textarea {
    min-height: 250px;
  }
}

@media (max-width: 320px) {
  .modal-wrapper {
    top: 20px;
  }
  textarea {
    min-height: 280px;
  }
  .help-button {
    margin: 0 auto;
    font-size: 11px;
    padding: 3px 6px;
  }
  #container {
    height: calc(100vh - 430px);
  }
}

 @media (max-width: 1024px) and (orientation:landscape) {
  .navbar-default {
    padding: 0;
  }

  #container {
    height: 100vh;
    min-height: 175px;
    max-height: 300px;
  }
 }
